page-home {
  .c-home {
    .sect-img {
      width: 100%;

      img {
        border-radius: 5px;
        height: 110px;
        min-height: 100px;
        object-fit: cover;
        vertical-align: middle;
        width: 100%;
      }

      .sect-info {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
}
