.c-modal {
  &--message {
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    
    .ico-modal {
      width: 60%;
    }
  }  
}
